table {
    border-collapse: collapse;
    border-spacing: 0;
}
table tr{
    border-bottom: solid 1px;
}
 .loader{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     width: 200px;
 }

 .recipe > div > img{
     width: 100%;
 }
